// Normalize Styles
@import "node_modules/normalize.css/normalize";

// Import Modules
@import "../_modules/link/link";

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: FuturaNormal;
  src: url("../fonts/futura_normal.ttf");
}

@font-face {
  font-family: FuturaBold;
  src: url("../fonts/futura_bold.otf");
}

@font-face {
  font-family: HelloWorld;
  src: url("../fonts/hello_world.ttf");
}

html,
body {
  font-family: FuturaNormal;
}

.bolded {
  font-family: FuturaBold;
  letter-spacing: 0.07vw;
  font-size: 6vw;
}

.frame {
  border: 3vw solid #ffd800;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.center-column {
  max-width: 85vw;
  margin-left: 15vw;
}

.right-column {
  position: fixed;
  width: 50%;
  top: 3vw;
  right: 3vw;
  bottom: 3vw;
  overflow: hidden;
}

.fun {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  transition: all 1000ms ease-in-out;
  position: absolute;
  left: 100%;
  width: 100%;

  &.active {
    opacity: 1;
    visibility: visible;
    left: 0;
    transition: all 1000ms ease-in-out;
  }

  &.for-about {
    background-color: #e86850;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.for-exp {
    background-color: #587498;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &.for-skills {
    background-color: #587058;
    padding: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;

  &-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &-item {
    font-size: 1.5vw;
    padding: 0;
    margin: 1vw 0;
    letter-spacing: 0.1vw;

    &:hover {
      opacity: 0.75;
    }

    a {
      text-decoration: none;
      color: black;
    }

    &.active {
      font-family: FuturaBold;
    }
  }
}

.nav-dot {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -1.3vw;
  top: 1.75vw;
  transition: top 300ms ease-in-out;
}

.section {
  width: 80%;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.h1 {
  font-size: 4vw;
  line-height: 3vw;
  letter-spacing: 0.03vw;
}

.p {
  line-height: 2vw;
  font-size: 1vw;
  letter-spacing: 0.03vw;
}

.social-wrap {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    margin-right: 1vw;
    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }

    img {
      max-width: 2.3vw;
    }
  }
}

.all-team-wrap {
  height: 80vh;
}

.team-img-wrap {
  padding: 1vw;
  background-color: white;
  max-width: 18vw;
  display: block;
  position: relative;

  &.team-1 {
  }

  &.team-2 {
    top: -10vh;
    left: 25%;
  }

  &.team-3 {
    top: -20vh;
    right: 25%;
  }

  &.team-4 {
    top: -30vh;
  }
}

.team-img {
  max-width: 100%;
}

.hello-img {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 75vh;
}

.section-hello {
  display: flex;
  align-items: center;
}

.hero-text-wrap {
  position: relative;
  z-index: 2;
}

.coding-wrap {
  display: flex;
  align-items: center;
  padding: 1vw;
}

.coding-img {
  max-width: 100%;
}

.h2 {
  font-size: 2.4vw;
  margin: 0;
  color: white;
  letter-spacing: 0.2vw;
}

.h4 {
  font-size: 1vw;
  margin: 0.6vw 0 0 0;
  color: black;
  font-family: FuturaBold;
  letter-spacing: 0.05vw;
}

.coding-img-wrap {
  padding: 0.5vw;
  background-color: white;
  max-width: 10vw;
  margin-right: 3vw;
}

.time-wrap {
  position: relative;
}

.stripe {
  width: 0.5vw;
  height: 75vh;
  background-color: white;
  background-image: linear-gradient(#e86850 0%, white 10%);
}

.circle {
  background-color: white;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border: 0.3vw solid #e86850;
}

.circle-1 {
  bottom: 0;

  .h5 {
    font-family: HelloWorld;
    letter-spacing: 0.05vw;
  }
}

.circle-2 {
  bottom: 10%;
}

.circle-3 {
  bottom: 30%;
}

.circle-4 {
  bottom: 60%;
}

.circle-5 {
  bottom: 80%;
}

.time-date {
  position: absolute;
  left: 200%;
  top: 50%;
  transform: translateY(-50%);
}

.h3 {
  font-size: 2vw;
  margin: 0;
  color: white;
  font-family: FuturaBold;
  letter-spacing: 0.3vw;
}

.time-desc-wrap {
  position: absolute;
  right: 200%;
  top: 50%;
  width: 30vw;
  text-align: right;
  color: white;
  transform: translateY(-50%);
}

.h5 {
  font-size: 1.3vw;
  margin: 0;
  color: black;
  font-family: FuturaBold;
  letter-spacing: 0.03vw;
}

.job-logo {
  margin-bottom: 0.3vw;
  max-width: 4vw;
}

.contact-img {
  position: absolute;
  top: -12vw;
  right: 0;
  width: 100%;
}

.italic {
  font-style: italic;
  font-family: FuturaNormal;
  font-size: 0.8vw;
}

.single-logo-wrap {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw 0;
  height: 5vw;
}

.logos-wrap {
  margin: 2vw 0;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 85%;

  &.react-native {
    width: 70%;
  }

  &.firebase {
    width: 70%;
  }
}

.coding-link {
  text-decoration: none;
  color: white;

  &:hover {
    background-color: lighten(#587058, 3%);
  }
}

.section-inside-wrap {
  max-width: 20vw;
}

.copyright-wrap {
  margin-top: 3vw;
}

.small-circle {
  width: 0.4vw;
  height: 0.4vw;
  background-color: #e86850;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  top: -100vh;
  height: 100vh;
  left: 0;
  width: 100vw;
  position: fixed;
  background-color: black;
  opacity: 0.9;
  z-index: 3;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  display: flex;

  &.active {
    top: 0;
  }
}

.overlay-text-wrap {
  text-align: center;
}

.overlay-text {
  line-height: 4vw;
  font-size: 3vw;
  color: white;
}

.h1-contact {
  font-size: 2.2vw;
  margin: 0;
  font-family: FuturaBold;
  padding: 0;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
  }
}

.contact-text-wrap {
  margin: 3vw 0;
}

.h6 {
  font-size: 0.6vw;
  line-height: 1vw;
}

@media (max-width: 1000px) {
  .h1 {
    font-size: 6vw;
    line-height: 6vw;

    .bolded {
      font-size: 8vw;
    }
  }
  .nav {
    top: 0;
    transform: none;
    z-index: 9999;
    width: 100vw;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list {
    margin-top: 20px;
  }

  .center-column {
    margin-left: 5vw;
  }

  .right-column {
    width: 60vw;
    bottom: 0;
    top: 0;
    overflow: visible;
  }

  .frame {
    border-top-width: 60px;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .nav-dot {
    display: none;
  }

  .nav-item {
    display: inline-block;
    margin: 0 3px;
    font-size: 1em;
  }

  .time-wrap {
    right: -2vw;
  }

  .stripe {
    height: 75vh;
    width: 1.5vw;
  }

  .circle {
    width: 7vw;
    height: 7vw;
    border-width: 1vw;
  }

  .small-circle {
    width: 2vw;
    height: 2vw;
  }

  .h3 {
    font-size: 4vw;
    left: -250%;
  }

  .time-desc-wrap {
    right: 150%;

    &.for-1991 {
      top: -50%;
    }

    &.for-1993 {
      top: -60%;
    }

    &.for-2000 {
      top: -60%;
    }

    &.for-2013 {
      top: -150%;
    }

    &.for-2017 {
      top: -180%;
    }
  }

  .h5 {
    font-size: 3.5vw;

    .italic {
      font-size: 2vw;
    }
  }

  .job-logo {
    max-width: 8vw;
  }

  .single-logo-wrap {
    width: 50%;
    height: 20vw;
  }

  .logo {
    width: 60%;

    &.react-native {
      width: 50%;
    }

    &.firebase {
      width: 60%;
    }
  }

  .logos-wrap {
    margin: 10vw 0;
  }

  .all-team-wrap {
    height: 97vw;
    position: relative;
    left: -10vw;
  }

  .team-img-wrap {
    margin: 2vh 0;
    max-width: 25vw;
    position: static;
  }

  .fun {
    margin-top: 30px;
  }

  .fun.active.for-hello {
    left: -30vw;
  }

  .fun.active.for-about {
    left: 25vw;
  }

  .fun.active.for-exp {
    left: 25vw;
  }

  .fun.active.for-skills {
    left: 25vw;
  }

  .fun.active.for-contact {
    left: 15vw;
  }

  .p {
    font-size: 4vw;
    line-height: 6vw;
  }

  .section-inside-wrap {
    max-width: 50vw;
  }

  .contact-text-wrap {
    margin: 8vw 0;
  }

  .h1-contact {
    font-size: 5vw;
    line-height: 6vw;

    a {
      font-size: 3vw;
    }
  }

  .social-wrap {
    a {
      margin-right: 3vw;
      img {
        max-width: 8vw;
      }
    }
  }

  .h6 {
    font-size: 2.5vw;
    line-height: 4vw;
  }

  .coding-wrap {
    display: block;
    margin: 0;
    max-width: 26vw;
    padding: 0;
    position: relative;
    left: 2vw;
  }

  .coding-img-wrap {
    max-width: 100%;
    padding: 1.5vw;
    margin: 0;
    margin-bottom: 0;
  }

  .coding-text-wrap {
    margin: 1vh 0 2vh 0;
  }

  .contact-img {
    top: -10vw;
  }

  .h2 {
    font-size: 4vw;
    max-width: 10vw;
  }

  .h4 {
    font-size: 2.5vw;
    margin: 1vw 0;

    .italic {
      font-size: 3vw;
    }
  }
}
