// Normalize Styles
@import "node_modules/normalize.css/normalize";

// Import Modules
@import "../_modules/link/link";

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: FuturaNormal;
  src: url("../fonts/futura_normal.ttf");
}

@font-face {
  font-family: FuturaBold;
  src: url("../fonts/futura_bold.otf");
}

@font-face {
  font-family: HelloWorld;
  src: url("../fonts/hello_world.ttf");
}

html,
body {
  font-family: FuturaNormal;
  scroll-behavior: smooth;
}

.bolded {
  font-family: FuturaBold;
  letter-spacing: 0.07em;
  font-size: 1.3em;
  //color: #2424d6;
}

.frame {
  border: 50px solid #ffd800;

  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.left-column {
}

.center-column {
  max-width: 85%;
  margin-left: 15%;
}

.right-column {
  position: fixed;

  width: 50%;

  top: 50px;
  right: 50px;
  bottom: 50px;
  overflow: hidden;
}

.fun {
  opacity: 0;
  visibility: hidden;
  height: 100%;
  transition: all 1000ms ease-in-out;
  position: absolute;
  left: 100%;

  width: 100%;
  &.active {
    opacity: 1;
    visibility: visible;
    left: 0;
    transition: all 1000ms ease-in-out;
  }

  &.for-about {
    background-color: #e86850;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.for-exp {
    background-color: #587498;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &.for-skills {
    background-color: #587058;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

.nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  &-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &-item {
    font-size: 30px;
    padding: 0;
    margin: 20px 0;

    a {
      text-decoration: none;
      color: black;
    }

    &.active {
      font-family: FuturaBold;
    }
  }
}

.nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: -25px;
  top: 32px;
  transition: top 300ms ease-in-out;
}

.inside-frame {
  //padding: 50px;
}

.section {
  width: 80%;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.center-wrap {
  //border: 1px solid blue;
}

.text-wrap {
}

.h1 {
  font-size: 5em;
  line-height: 1em;
  letter-spacing: 0.03em;
}

.p {
  line-height: 2em;
  font-size: 1.2em;
  letter-spacing: 0.03em;
}

.logos-wrap {
  //border: 1px solid red;
}

.form-fields-wrap {
  border: 1px solid black;
  max-width: 450px;
  padding: 25px 25px 0 25px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-family: FuturaNormal;
}

.form {
  margin: 0 0 50px 0;
}

input,
textarea {
  border: none;
  display: block;
  margin: 0 0 30px 0;
  font-family: FuturaNormal;
  width: 100%;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="submit"] {
  background-color: #000000;
  color: #fff;
  margin: 0;
  font-family: FuturaNormal;
  padding: 10px 25px;
  margin-top: 10px;
  width: 450px;
}

.social-wrap {
  max-width: 450px;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    margin-right: 20px;

    img {
      max-width: 40px;
    }
  }
}

.for-exp.active {
}

.team-img-wrap {
  padding: 10px;
  background-color: white;
  max-width: 650px;
  display: block;
  position: relative;

  &.bisons {
    top: -75px;
    left: 100px;
  }

  &.sap {
    top: 75px;
    left: -100px;
  }
}

.team-img {
  max-width: 100%;
  display: block;
}

.hello-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.section-hello {
  display: flex;
  align-items: center;
}

.hero-text-wrap {
  position: relative;
  z-index: 2;
}

.coding-wrap {
  display: flex;
  align-items: center;
}

.coding-img {
  max-width: 100%;
}

.h2 {
  font-size: 3em;
  margin: 0;
  color: white;
}

.h4 {
  font-size: 1em;
  margin: 10px 0 0 0;
  color: black;
  font-family: FuturaBold;
  letter-spacing: 0.03em;
}

.coding-img-wrap {
  padding: 10px;
  background-color: white;
  max-width: 200px;
  margin-right: 50px;
}

.section-contact {
  max-width: 450px;
}

.section-about {
  max-width: 450px;
}

.section-exp {
  max-width: 450px;
}

.section-skills {
  max-width: 450px;
}

.time-wrap {
  position: relative;
}

.stripe {
  width: 5px;
  height: 75vh;
  background-color: white;
  background-image: linear-gradient(#e86850 0%, white 10%);
}

.circle {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.circle-1 {
  bottom: 0;

  .h5 {
    font-family: HelloWorld;
    letter-spacing: 0.05em;
  }
}

.circle-2 {
  bottom: 10%;
}

.circle-3 {
  bottom: 30%;
}

.circle-4 {
  bottom: 60%;
}

.circle-5 {
  bottom: 80%;
}

.time-date {
  position: absolute;
  left: 200%;
  top: 50%;
  transform: translateY(-50%);
}

.h3 {
  font-size: 2em;
  margin: 0;
  color: white;
}

.time-desc-wrap {
  position: absolute;
  right: 200%;
  top: 50%;
  width: 400px;
  text-align: right;
  color: white;
  transform: translateY(-50%);
}

.h5 {
  font-size: 1.8em;
  margin: 0;
  color: black;
  font-family: FuturaBold;
  letter-spacing: 0.01em;
}

.job-logo {
  margin-bottom: 5px;
  max-width: 75px;
}

.contact-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.italic {
  font-style: italic;
  font-family: FuturaNormal;
  font-size: 0.8em;
}

.single-logo-wrap {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  height: 100px;
}

.logos-wrap {
  margin: 50px 0;
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 85%;
  //align-self: flex-end;

  &.react {
  }

  &.react-native {
    width: 70%;
  }

  &.redux {
  }

  &.node {
  }

  &.express {
  }

  &.keystone {
  }

  &.mongodb {
  }

  &.firebase {
    width: 70%;
  }
}

.coding-link {
  text-decoration: none;
  color: white;

  &:hover {
    background-color: lighten(#587058, 3%);
  }
}
